body {
    margin: 0;
    padding: 0;
}

/**** Grid - Game Board ****/
.grid-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
}

/**** Card and Card Flip ****/
.card-container {
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 4px;
    font-size: 3em;
    background-color: grey;
    text-align: center;
    backface-visibility: hidden;
}

.card-back {
    color: #fff;
    background-color: blue;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.final {
    transform: rotateY(180deg);
}