body {
    margin: 0;
    padding: 0;
}

/**** Grid - Game Board ****/
.grid-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 20px;
}

.update {
    margin-left: 4%;
    font-size: 1.5em;
}

.message {
    padding-left: 10px;
}

.message::after {
    margin-bottom: 40px;
}

/**** Card and Card Flip ****/
.card-container {
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    text-align: center;
    backface-visibility: hidden;
}

.card-back .card-content {
    font-size: 2em;
    line-height: 25px;
}

.card-back {
    color: #fff;
    background-color: blue;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.final {
    transform: rotateY(180deg);
}