.players .player-wrap {
    display: inline;
}

.board-wrap {
    width: 50%;
}

.board {
    display: grid;
    grid-column-gap: 50px;
    grid-gap: 10px 5px;
    justify-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    background-color: grey;
    padding: 10px;
}

.box {
    background-color: green;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}